@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap');

body {
  font-family: 'Inter', sans-serif;
  min-height: 100vh;
  background: url('./images/main-bg.jpg') center / cover no-repeat;
  overflow-x: hidden;
}
